<h3>予約確認</h3>

<%= form_with model: @reserve do |f| %>
  <table>
    <tr>
     <p>チェックイン</p>
     <%= @reserve.check_in %>
    </tr>
    <tr>
     <p>チェックアウト</p>
     <%= @reserve.check_out %>
    </tr>
    <tr>
     <p>人数</p>
     <%= @reserve.people %>
    </tr>
    <tr>
     <p>合計金額</p>
     <%= @total_price  %>
    </tr>
      <%= f.hidden_field :hotel_id, value: @reserve.hotel_id %>
      <%= f.hidden_field :check_in, value: @reserve.check_in %>
      <%= f.hidden_field :check_out, value: @reserve.check_out %>
      <%= f.hidden_field :people, value: @reserve.people %>
      <%= f.hidden_field :total_price, value: @total_price %>
  </table>
  <div>
    <%= f.submit '予約する' %>
  </div>
<% end %>

