<%= link_to 'ホテル一覧', hotels_path %>
<%= current_user.name %> <br>
<table>
  <thead>
    <tr>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>人数</th>
      <th>合計金額</th>
    </tr>
  </thead>
  <tbody>
    <% @reservation.each do |reservation| %>
      <ul class = "reserved_rooms">     
        <% if reservation.hotel.picture? %>
          <%= image_tag reservation.hotel.picture.url, :size => '100x100'%>
        <% else %>
          <%= image_tag "/assets/deault.jpg", :size => '100x100' %>
        <% end %>
        <li><%= reservation.hotel.picture %></li>
        <li><%= reservation.hotel.name %></li>
        <li><%= reservation.hotel.introduction %></li>
        <li><%= reservation.hotel.address %></li>
        <li><%= reservation.check_in %></li>
        <li><%= reservation.check_out %></li>
        <li><%= reservation.people %></li>
        <li><%= reservation.total_price %></li>
        <li><%= link_to "参照", reservation %></li>
        <li><%= link_to "編集", [:edit, reservation] %></li>
        <li><%= link_to "削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
      </ul>
    <% end %>
  </tbody>
</table>