<%= link_to 'ホテル一覧', hotels_path %>
<%= current_user.name %> <br>
<table>
  <thead>
    <tr>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>人数</th>
      <th>合計金額</th>
    </tr>
  </thead>
  <tbody>
    <% @reservation.each do |reservation| %>
      <% if reservation.hotel.picture? %>
        <%= image_tag reservation.hotel.picture.url, :size => '300x300'%>
      <% else %>
        <%= image_tag "/assets/deault.jpg", :size => '100x100' %>
      <% end %>
      <tr>
        <td><%= reservation.hotel.picture %></td>
        <td><%= reservation.hotel.name %></td>
        <td><%= reservation.hotel.introduction %></td>
        <td><%= reservation.hotel.address %></td>
        <td><%= reservation.check_in %></td>
        <td><%= reservation.check_out %></td>
        <td><%= reservation.people %></td>
        <td><%= reservation.total_price %></td>
        <td><%= link_to "参照", reservation %></td>
        <td><%= link_to "編集", [:edit, reservation] %></td>
        <td><%= link_to "削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>