<h1>登録済みルーム一覧</h1>
<table>
  <thead>
    <ul class = "hotels_item">
      <li class = "ho_item1">ルーム画像</li>
      <li class = "ho_item2">ルーム名</li>
      <li class = "ho_item3">ルーム紹介</li>
      <li class = "ho_item4">料金</li>
      <li class = "ho_item5">作成日</li>
    </ul>
  </thead>

  <tbody class = "made_area">
    <% @hotel.each do |hotel| %>
      <ul class = "made_hotel">
        <li class = "hotel1">
            <% if hotel.picture? %>
              <%= link_to image_tag(hotel.picture.url, :size => '230x200') ,hotel_path(hotel.id) %>
            <% else %>
              <%= link_to image_tag("/assets/deault.jpg", :size => '230x200') , hotel_path(hotel.id) %>
            <% end %>
        </li>
        <li class = "hotel2"><%=link_to(hotel.name, hotel_path(hotel.id), {class: "line_none"}) %></li>
        <li class = "hotel3"><%= hotel.introduction %></li>
        <li class = "hotel4">¥<%= hotel.price %></li>
        <li class = "hotel5"><%= hotel.created_at %></li>
      </ul>
    <% end %>
  </tbody>
</table>
