<p class="notice"><%= notice %></p> 

<div class="container">
  <ul class="tab-list">
    <li class="tab box-active">アカウント</li>
    <li class="tab">プロフィール</li>
  </ul>
  <div class="tabbox-contents">
    <div class="tabbox box-show">
      <p>メールアドレス</p>
        <%= current_user.email %><br />
      <p>パスワード</p>
        <%= current_user.password %><br />
      <li><%= link_to '編集', edit_user_registration_path %></li>
    </div>
    <div class="tabbox">
      <%= form_with method: :post, url:home_profile_path do |f| %>
        <button type="button" class="btn btn-outline-secondary rounded-pill">
          <%= f.file_field :avater, accept: 'image/jpeg,image/gif,image/png' %>
        </button>

        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :profile %><br />
          <%= f.text_area :profile, autofocus: true, autocomplete: "profile" %>
        </div>

        <%= f.hidden_field :id, value:current_user.id %>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
