<h3>予約内容確認</h3>

<%= form_with model: @reservation do |f| %>
  <table class = "item1">
    <tr>
     <strong>¥</strong><%= @total_price  %><strong>/ 日</strong>
    </tr>
    <tr>
     <p class = "item1_1">開始日</p>
     <%= @reservation.check_in %>
    </tr>
    <tr>
     <p class = "item1_1">終了日</p>
     <%= @reservation.check_out %>
    </tr>
    <tr>
     <p class = "item1_1">人数</p>
     <%= @reservation.people %><strong>名</strong>
    </tr>
    <tr>
     <p class = "item1_1">合計金額</p>
     <strong>¥</strong><%= @total_price  %>
    </tr>
      <%= f.hidden_field :hotel_id, value: @reservation.hotel_id %>
      <%= f.hidden_field :check_in, value: @reservation.check_in %>
      <%= f.hidden_field :check_out, value: @reservation.check_out %>
      <%= f.hidden_field :people, value: @reservation.people %>
      <%= f.hidden_field :total_price, value: @total_price %>
      <%= f.hidden_field :user_id, value:current_user.id %>
  </table>
  <div>
    <%= f.submit '予約を確定' %>
  </div>
<% end %>

