<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>
      <ul>
        <% hotel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <ul class = "new_room_area">
    <li class ="field">
      <p class = "new_room_title">ルーム情報登録</p>
    </li>

    <li class="field">
      <%= form.label :name %>
      <%= form.text_field :name, class:"room_field" %>
    </li >

    <li class="field field1">
      <%= form.label :introduction %>
      <%= form.text_area :introduction, class:"room_field field2" %>
    </li >

    <li class="field">
      <%= form.label :price %>
      <%= form.number_field :price, class:"room_field" %>
    </li >

    <li class="field">
      <%= form.label :address %>
      <%= form.text_field :address, class:"room_field" %>
    </li >

    <li>
      <p class = "room_picture">ルーム画像</p>
      <button type="button" class="btn btn-outline-secondary rounded-pill new_picture">
        <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </button>
    </li>

    <li>
      <%= form.submit class:"actions room_new_button"%>
    </li>
  </ul>
    <%= form.hidden_field :user_id, value:current_user.id %>

<% end %>
