<img class = "top_img" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg" alt="">
<div class = "seach_box">
  <p class = "search_text">Potepan Shareでまだ体験したことのない旅をしよう</p>
  <div class = "search_area">
    <%= search_form_for @search, url: search_hotels_path do |f| %>
      <%= f.label :name_or_introduction_or_address_cont, 'エリア' %><br>
      <%= f.search_field :name_or_introduction_or_address_cont ,class: "search_field", placeholder: "東京"%>
      <br>
      <%= f.submit '探す', class: "search_button"%>
    <% end %>
  </div>
</div>

<h2>おすすめのエリア</h2>

<ul class = "recommendation">
  <li>
    <%= link_to "http://localhost:3000/hotels/search?q%5Bname_or_introduction_or_address_cont%5D=%E6%9D%B1%E4%BA%AC&commit=%E6%A4%9C%E7%B4%A2" do %>
    <%= image_tag 'img_tokyo.jpg', :size => '300x400' %>
    <p class = "place">東京</p>
    <% end %>
  </li>
  <li>
    <%= link_to "http://localhost:3000/hotels/search?q%5Bname_or_introduction_or_address_cont%5D=%E5%A4%A7%E9%98%AA&commit=%E6%A4%9C%E7%B4%A2" do %>
    <%= image_tag "img_osaka.jpg", :size => '300x400' %>
    <p class = "place">大阪</p>
    <% end %>
  </li>
  <li>
    <%= link_to "http://localhost:3000/hotels/search?q%5Bname_or_introduction_or_address_cont%5D=%E4%BA%AC%E9%83%BD&commit=%E6%A4%9C%E7%B4%A2" do %>
    <%= image_tag "img_kyoto.jpg", :size => '300x400' %>
    <p class = "place">京都</p>
  <% end %>
  </li>
    <%= link_to "http://localhost:3000/hotels/search?q%5Bname_or_introduction_or_address_cont%5D=%E6%9C%AD%E5%B9%8C&commit=%E6%A4%9C%E7%B4%A2" do %>
    <%= image_tag "img_sapporo.jpg", :size => '300x400' %>
    <p class = "place">札幌</p>
    <% end %>
  </li>
</ul>