<h1>検索結果</h1>

<ul class = "room_area">
  <% @results.each do |hotel| %>
    <%= link_to hotel_path(hotel.id) do %>
      <li class = "room_box_area">
        <div>
          <% if hotel.picture? %>
            <%= image_tag hotel.picture.url, :size => '400x300'%>
          <% else %>
            <%= image_tag "/assets/deault.jpg", :size => '400x300' %>
          <% end %>
        </div>
        <div><%= hotel.name %></div>
        <div><%= hotel.address %></div>
        <div>¥<%= hotel.price %></div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to '一覧に戻る', hotels_path %>