<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hotel.name %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @hotel.introduction %>
</p>

<p>
  <strong>Price:</strong>
  <%= @hotel.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hotel.address %>
</p>


<h3>予約登録</h3>

<%= form_with url: new_reserf_path, method: :get, local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :check_in ,"チェックイン" %></th>
      <td><%= f.date_field :check_in %></td>
    </tr>

    <tr>
      <th><%= f.label :check_out ,"チェックアウト" %></th>
      <td><%= f.date_field :check_out %></td>
    </tr>

    <tr>
      <th><%= f.label :people ,"人数" %></th>
      <td><%= f.text_field :people %></td>
    </tr>
    <%= f.hidden_field :hotel_id, value: @hotel.id %>
    <%= f.hidden_field :price, value: @hotel.price %>
  </table>
  <div>
    <%= f.submit '確認画面へ' %>
  </div>
<% end %>


<%= link_to 'Edit', edit_hotel_path(@hotel) %> 
<%= link_to 'Back', hotels_path %>

<%= current_user.email %> 
